@font-face {
  font-family: "PT Sans";
  src: url("../fonts/ptsans.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "PT Sans";
  src: url("../fonts/ptsansbold.woff2") format("woff2");
  font-weight: 700;
  font-style: bold;
}


body{
 margin: 0 auto;
 padding: 0;
  
 width: 1200px;
  
 font-family: "PT Sans", Arial, sans-serif;
 font-weight: 400;
 font-style: normal;
 font-size: 14px;
 line-height: 21px;
 color: #000000;
 
 text-transform: uppercase;
  
 background-color: #ffffff
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

a {
  text-decoration: none;
  display: inline;
}

.main-header {
  position:relative;
}
.logo {
  position: absolute;
  left: 50%;
  margin-left: -69px;
  margin-top: 0;
  
  display: block;
}
.site-navigation {
  margin: 0;
  padding: 31px; 0;
  position: absolute;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 73px;
  
  font-family: "PT Sans", Arial, sans-serif;
  font-weight: 700;
  font-style: normal;
  line-height: 26px;
  color: #000000; 
  background-color: #ffffff;
  
  list-style: none;
  
  display: flex;
}

.site-navigation a {
  color: #000000;
}
.site-navigation li {
  width: 240px;
}
.site-navigation li:nth-of-type(3),
.site-navigation li:nth-of-type(4) {
  text-align: right;
}

.main-navigation a {
  text-decoration: none;
}
.main-navigation a:hover {
  color: #99c1db;
}
.main-navigation a:active {
  color: #b2b2b2;
}

a.current-item {
  color: #756357;
}

.filter {
  
  font-family: "PT Sans", Arial, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  line-height: 21px;
  color: #ffffff;
  height: 217px;
  
  background-image: url(..//img/filter%20background.jpg);
  background-repeat: no-repeat;

  display: flex;
  flex-direction: row;
  justify-content: flex-start;

}

.filter legend {
  font-family: "PT Sans", Arial, sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 21px;
}

.filter ul {
  list-style: none;
}

.filter-input { 
  width: 21px;
  height: 21px;
  border: 2px solid #ffffff;
 
  }

}
.filter-checkbox:disabled {
  border-color: #6a6a6a;
}

.infrastructure,
.living-type {  
 
  width: 139px;
  height: 155px;
}

.filter fieldset {
  border: none;
}

/*hotels*/
.list-of-hotels {
  
  list-style: none;
  
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

}

.list-of-hotels a {
  text-decoration: none;
  color: #000000;
}


.filter-range {
  width: 330px;
  margin: 50px;  
}

.filter-range-title {
  margin-bottom: 9px;

  font-weight: 600;
  font-size: 16px;
  line-height: 21px;
}

.price-controls {
  position: relative;
  
  height: 36px;
  margin-bottom: 20px;

  font-size: 0;

  border: 2px solid #ffffff;
  border-radius: 2px;
}

.price-controls::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;

  width: 2px;
  height: 22px;

  background: #ffffff;
  transform: translate(-50%, -50%);
}

.price-controls label {
  display: inline-block;

  font-size: 14px;
  line-height: 38px;
  vertical-align: top;

  cursor: pointer;
}

.price-controls .min-price,
.price-controls .max-price {
  width: 90px;
  padding-left: 65px;
}

.price-controls input {
  width: 50px;
  margin: 0;

  color: inherit;
  font: inherit;

  background: none;
  border: none;
}

.range-controls {
  position: relative;

  margin-bottom: 32px;
}

.range-controls .scale {
  height: 2px;

  background: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
  width: 80%;
  height: 2px;

  background: #ffffff;
}

.range-toggle {
  position: absolute;
  top: -9px;

  width: 4px;
  height: 4px;

  background: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;
}

.range-toggle:hover {
  background: #1c4f80;
}

.range-toggle-min {
  left: 0;
}

.range-toggle-max {
  left: 80%;
}

.btn-transparent {
  display: block;
  margin: 0 auto;
  padding: 6px 35px;

  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
  text-transform: uppercase;

  background: transparent;
  border: 2px solid #ffffff;
  border-radius: 2px;
  cursor: pointer;
}

.btn-transparent:hover {
  color: #000000;

  background: #ffffff;
}

.sort {
  font-family: "PT Sans";
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  

  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.sort-header {
  padding-left: 72px;
  padding-right: 49px;
  
  font-family: "PT Sans";
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
}
.sorting li {
  padding-right: 33px;
  list-style: none;
   display: inline;
}
.sort a {
  text-decoration: none;
  color: #b2b2b2;
  border-bottom: 1px dashed #99c1db;
}

.sort a:hover {
  text-decoration: none;
  color: #99c1db;
  border-bottom: 1px dashed #99c1db;
}

.sort a:active {
  text-decoration: none;
  color: #000000;
  border-bottom: none;
}


rise:link {
  text-decoration: none;
  color: #b2b2b2;
}
rise:hover {
  text-decoration: none;
  color: #000000;
}

rise:active {
  text-decoration: none;
  color: #99c1db;
}

down:link {
  text-decoration: none;
  color: #b2b2b2;
}
down:hover {
  text-decoration: none;
  color: #000000;
}

down:active {
  text-decoration: none;
  color: #99c1db;
}

.intro {
  font-family: "PT Sans";
  font-weight: 700;
  font-style: normal;
  font-size: 21px;
  line-height: 26px;
}

.intro-2 {
  font-family: "PT Sans";
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  line-height: 26px;
}

.features-item {
  list-style: none;
     
  margin-top: 56px;
  margin-bottom: 61px;
  
  padding-top: 46px;
  padding-bottom: 64px;
  padding-left: 60px;
  padding-right: 59px;
  
  min-height: 256px;
}
.all-features {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  color: #ffffff;  
  background-color: #81b3d2;
}

.features-item h3 {
  font-family: "PT Sans";
  font-weight: 700;
  font-style: normal;
  font-size: 21px;
 
  line-height: 26px;
  
  color: #ffffff;
}

.unnumbered {
  list-style: none;
  
  font-family: "PT Sans", Arial, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  line-height: 21px;
  color: #000000;
  
  background-color: #ffffff;
  
  display: flex;
  flex-wrap: wrap;
  height: 256px;
  justify-content: space-around;
  align-items: center;  
}


.unnumbered h4 {
  font-weight: 700;
}

.features-bottom-item {
  list-style: none;
  
  color: #000000;  
  background-color: #eeeeee; 
}

.features-bottom-item h3 {
  text-decoration: none; 
  font-family: "PT Sans";
  font-weight: 700;
  font-style: normal;
  font-size: 21px; 
  line-height: 26px; 
  color: #000000;
}

.hotels-search {
  margin-left: 316px;
  margin-right: 316px;
  padding-right: 55px;
  width: 568px;
  height: 395px;
  text-align: center;
  
  background-color: #ffffff;
}
.hotels-search-item {
  font-family: "PT Sans"; 
  font-weight: 700;
  line-height: 26px;
  margin-right: 41px;
}

.search {
  text-decoration: none; 
  font-family: "PT Sans";
  font-weight: 700;
  font-style: normal;
  font-size: 21px; 
  line-height: 26px; 
}
  
  .search a{
  display: block;
  margin-top: 52px;
  margin-bottom: 55px;
  margin-left: 316px;
  margin-right: 316px;
  
  padding-top: 35px;
  padding-bottom: 33px;
  
  width: 568px;
  background-color: #766257;
  text-align: center;


  text-decoration: none;
  color: #ffffff;
}
.search a:hover {
  background-color: #604e43;
}
.search a:active {
  background-color: #503e33;
  color: #857871;
}

.hotels-search-item a {
 text-decoration: none;
 color: #ffffff;
}

.hotels-search-item a:hover {
 color: #ffffff;
 background-color: #604e44;
}

.hotels-search-item a:active {
  color: #867971;
  background-color: #503e34;
}

input {
  margin-left: 21px;
  height: 38px;
  width: 270px;
  border-style: none;
  background-color: #f2f2f2;
}
input:hover {
  background-color: #ebebeb;
}

input:focus {
  background-color: #ffffff;
  outline: none;
  border-width: 2px; 
  border-color: #e5e5e5;
  border-style: solid;
}
input.numbers {
  margin: 0;
  
  height: 38px;
  width: 38px;
  text-align: center;
}

.calendar {
  margin-left: -4px;
  margin-top: -9px;
  
  fill: #a9a9a9;
}
.calendar:hover {
  fill: #000000;
}
.calendar:active {
  fill: #81b2d3;
}

.symbol-minus {
  margin-right: -4px;
  margin-left: 39px;
}
.symbol-plus {
  margin-left: -4px;
}
button.calendar,
.symbol-minus,
.symbol-plus {
  color: #a9a9a9;
  border: none;
  background-color: #f2f2f2;
  
  width: 38px;
  height:  40px;
  outline: none;
}
button:hover {
  color: #000000;
}
button:active {
  color: #81b2d3;
}

button.find {
  margin-top: 55px;
  margin-bottom: 55px;
  
  width: 456px;
  height: 58px;
  
  color: #ffffff;
  text-transform: uppercase;
  border-style: none;
  
  background-color: #81b3d2;
  
  outline: none;
}
button.find:hover {
  background-color: #669ec1;
}
button.find:active {
  color: #6da5c6;
  background-color: #5596be;
}

/*footer*/
footer {
  height: 120px;
  padding-left: 132px;
  padding-right: 101px;
  
  display: flex;
  justify-content: space-around;
  align-items: center;
 
  opacity: 0.9;

}

.footer-item-1 {
  font-family: "PT Sans";
  font-weight: 700;
  font-style: bold;
  font-size: 21px; 
  line-height: 26px;
}
 
.footer-item-2 {
 font-size: 14px;
 line-height: 26px;
}

.social-icons-item {
  padding-top: 17px;
  padding-bottom: 16px;
  padding-left: 15px;
  padding-right: 14px;
  width: 46px;
  height: 48px;
  
  margin-right: 6px;
    
  list-style-type: none; 
  display: inline;
  background-color: #81b3d2;
}


.social-icons-item:hover {
  background-color: #669ec0;
}
.social-icons-item:active {
  background-color: #5496bd;  
}

.twitter-item:active {
  fill: #88b6d1;
}
.facebook-item:active {
  fill: #88b6d1;
}
.youtube-item:active {
  fill: #88b6d1;
}

  
.htmlacademy-logo:hover {
  fill: #81b3d2;
}
.htmlacademy-logo:active {
  fill: #c9c8c8;
}


