
/*общие стили*/
body{
 margin: 0 auto;
 padding: 0;
  
 width: 1200px;
  
 font-family: "PT Sans", sans-serif;
 font-weight: 400;
 font-style: normal;
 font-size: 14px;
 line-height: 21px;
 color: #000000;
 
 text-transform: uppercase;
  
 background-color: #f0f0f0;
 box-shadow: 0 0 40px;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

a {
  text-decoration: none;
  display: inline-block;
}


/*хэдэр*/
.main-header {
  position:relative;
  z-index: 1;
}
.main-navigation {
  position: absolute;
}

.site-navigation {
  width: 100%;
  box-sizing: border-box;
  margin: 0;
  padding-right: 73px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 73px;
  
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-style: normal;
  line-height: 26px;
  color: #000000; 
  background-color: #ffffff;
 
  list-style: none;
  
  display: flex;
}

.logo {
  display: inline-block;
  position: absolute;
  left: 50%;
  margin-left: -69px;
  margin-top: 0;
  z-index: 1;
}

.site-navigation a {
  color: #000000;
}
.site-navigation li {
  width: 240px;
}
.site-navigation li:nth-of-type(3) {
  margin-left: auto;
  padding-left: 95px;
}
.site-navigation li:nth-of-type(3),
.site-navigation li:nth-of-type(4) {
  text-align: right;
}

.main-navigation a {
  text-decoration: none;
}
.main-navigation a:hover {
  color: #99c1db;
}
.main-navigation a:active {
  color: #b2b2b2;
}

a.current-item {
  color: #756357;
}


/*фотo с горами*/
.representation {
  position: relative;
  height: 565px;
  overflow: hidden;
}
.representation::after {
  position: absolute;
  bottom: 0;
  
  width: 1200px;
  height: 57px;
  content: " ";
  background-image: url(../img/shape.png);
  
  display: block;
}
.sedona-photo {
  position: absolute;
  top: -28px;
  margin: 0;
  padding: 0;
  display: inline-block;   
}

/*блок ниже гор*/
.features-conteiner {
  position: relative;
  margin: 0;
  padding-top: 36px;
  padding-bottom: 46px;
  padding-left: 355px;
  padding-right: 356px;

  text-align: center;
  background-color: #ffffff;
  
}
.intro {
  font-family: "PT Sans", sans-serif;
  font-weight: 600;
  font-style: bold;
  font-size: 21px;
  line-height: 26px;
  
}

.intro-2 {
  font-family: "PT Sans";
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  line-height: 26px;
}

/*основной список преимуществ*/
.features-list {
  position: relative;
  margin: 0;
  padding: 0px;
  
  font-family: "PT Sans";
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
 
  
  list-style: none;

  display: flex;

  flex-wrap: wrap;
}

.features-item-1 {
  position: relative;
  width: 256px;
  padding-left: 72px;
  padding-right: 72px;
  text-align: center;
  color: #ffffff;
  background-color: #81b3d2; 
}

.features-item-2 {
  position: relative;
  width: 256px;

  padding-left: 72px;
  padding-right: 72px;

  text-align: center;
  color: #ffffff;
  background-color: #81b3d2;
}


.features-item-1 h3,
.features-item-2 h3 {
  font-family: "PT Sans";
  font-weight: 600;
  font-style: normal;
  font-size: 21px;
  line-height: 21px;
  color: #ffffff;
  
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 23px;
}


.unnumbered-list {
  position: relative;

  font-family: "PT Sans";
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #000000;
  background-color: #ffffff;
  list-style: none;
  text-align: center;
  
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;

}

.unnumbered-item-1 {
  position: relative;
  justify-content: center;
  text-align: center;
}

.unnumbered-item-2 {
  position: relative; 

}

.unnumbered-item-3 {
  position: relative;

}
.unnumbered-list h4 {
  font-family: "PT Sans";
  font-weight: 700;
  font-style: normal;
  font-size: 21px;
  line-height: 21px;
}

.features-bottom-item {
  font-family: "PT Sans";
  font-weight: 400;
  font-size: 14px;
  line-height: 26px;
  
  width: 262px;
  min-height: 210px;
  padding-top: 22px;
  padding-left: 69px;
  padding-right: 69px;

  position: relative;
  text-align: center;
  color: #000000;
  background-color: #eeeeee;
}

.features-bottom-item h3 {
  text-decoration: none; 
  font-family: "PT Sans";
  font-weight: 600;
  font-size: 21px; 
  line-height: 26px; 
  color: #000000;
  
}

.feedback-item {
  position: relative;
  text-align: center;
  background-color: #ffffff;
}
.feedback-item b {
  font-family: "PT Sans", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 30px;
  line-height: 36px;
  
}

.feedback-item p {
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  line-height: 26px;

}

/*фильтры в каталоге*/
.filter {
  position: relative;
  padding: 0;
  
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  line-height: 21px;
  color: #ffffff;
  
  background-image: url(..//img/filter%20background.jpg);
  background-repeat: no-repeat;

  display: flex;
  flex-direction: row;
  justify-content: flex-start;

}

.filter legend {
  font-family: "PT Sans", sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 21px;
}

.filter ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.checkbox {
  display: none;
}
.checkbox-custom {
  position: relative;
  width: 25px;
  height: 25px;
  border: 2px solid #ffffff;
}
.checkbox-custom,
.infrastructure {
  display: inline-block;
}


.filter fieldset {
  border: none;
}

/*hotels*/
.list-of-hotels {
  
  list-style: none;
  
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

}

.list-of-hotels a {
  text-decoration: none;
  color: #000000;
}


.filter-range {
  width: 330px;
  margin: 50px;  
}

.filter-range-title {
  margin-bottom: 9px;

  font-weight: 600;
  font-size: 16px;
  line-height: 21px;
}

.price-controls {
  position: relative;
  
  height: 36px;
  margin-bottom: 20px;

  font-size: 0;

  border: 2px solid #ffffff;
  border-radius: 2px;
}

.price-controls::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;

  width: 2px;
  height: 22px;

  background: #ffffff;
  transform: translate(-50%, -50%);
}

.price-controls label {
  display: inline-block;

  font-size: 14px;
  line-height: 38px;
  vertical-align: top;

  cursor: pointer;
}

.price-controls .min-price,
.price-controls .max-price {
  width: 90px;
  padding-left: 65px;
}

.price-controls input {
  width: 50px;
  margin: 0;

  color: inherit;
  font: inherit;

  background: none;
  border: none;
}

.range-controls {
  position: relative;

  margin-bottom: 32px;
}

.range-controls .scale {
  height: 2px;

  background: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
  width: 80%;
  height: 2px;

  background: #ffffff;
}

.range-toggle {
  position: absolute;
  top: -9px;

  width: 4px;
  height: 4px;

  background: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;
}

.range-toggle:hover {
  background: #1c4f80;
}

.range-toggle-min {
  left: 0;
}

.range-toggle-max {
  left: 80%;
}

.btn-transparent {
  display: block;
  margin: 0 auto;
  padding: 6px 35px;

  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
  text-transform: uppercase;

  background: transparent;
  border: 2px solid #ffffff;
  border-radius: 2px;
  cursor: pointer;
}

.btn-transparent:hover {
  color: #000000;

  background: #ffffff;
}

.sort {
  font-family: "PT Sans";
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  

  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.sort-header {
  padding-left: 72px;
  padding-right: 49px;
  
  font-family: "PT Sans";
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
}
.sorting li {
  padding-right: 33px;
  list-style: none;
   display: inline;
}
.sort a {
  text-decoration: none;
  color: #b2b2b2;
  border-bottom: 1px dashed #99c1db;
}

.sort a:hover {
  text-decoration: none;
  color: #99c1db;
  border-bottom: 1px dashed #99c1db;
}

.sort a:active {
  text-decoration: none;
  color: #000000;
  border-bottom: none;
}


rise:link {
  text-decoration: none;
  color: #b2b2b2;
}
rise:hover {
  text-decoration: none;
  color: #000000;
}

rise:active {
  text-decoration: none;
  color: #99c1db;
}

down:link {
  text-decoration: none;
  color: #b2b2b2;
}
down:hover {
  text-decoration: none;
  color: #000000;
}

down:active {
  text-decoration: none;
  color: #99c1db;
}


/*форма на главной*/
.hotels-search {
  position: relative;
  width: 568px;
  min-height: 395px;
  text-align: center;
  
  background-color: #ffffff;
  display: inline-block;
  z-index: 1;
}
.hotels-search-item,
.letters {
  font-family: "PT Sans", sans-serif; 
  font-weight: 700;
  font-size: 14px;
  line-height: 26px;
  margin-right: 41px;
}

.search {
  position: relative;
  text-decoration: none; 
  font-family: "PT Sans";
  font-weight: 700;
  font-style: normal;
  font-size: 21px; 
  line-height: 26px; 
  z-index: 1;
}
  
  .search a{
  display: block;
  margin-top: 53px;
  margin-bottom: 32px;
  margin-left: 316px;
  margin-right: 316px;
  
  padding-top: 29px;
  padding-bottom: 29px;
  
  width: 568px;
  background-color: #766257;
  text-align: center;


  text-decoration: none;
  color: #ffffff;
}
.search a:hover {
  background-color: #604e43;
}
.search a:active {
  background-color: #503e33;
  color: #857871;
}

.hotels-search-item a {
 text-decoration: none;
 color: #ffffff;
}

.hotels-search-item a:hover {
 color: #ffffff;
 background-color: #604e44;
}

.hotels-search-item a:active {
  color: #867971;
  background-color: #503e34;
}

input {
  margin-left: 21px;
  height: 38px;
  width: 270px;
  border-style: none;
  background-color: #f2f2f2;
}
input:hover {
  background-color: #ebebeb;
}

input:focus {
  background-color: #ffffff;
  outline: none;
  border-width: 2px; 
  border-color: #e5e5e5;
  border-style: solid;
}
input.numbers {
  margin: 0;
  
  height: 38px;
  width: 38px;
  text-align: center;
}

.calendar {
  margin-left: -4px;
  margin-top: -9px;
  
  fill: #a9a9a9;
}
.calendar:hover {
  fill: #000000;
}
.calendar:active {
  fill: #81b2d3;
}

.symbol-minus {
  margin-right: -4px;
  margin-left: 39px;
}
.symbol-plus {
  margin-left: -4px;
}
button.calendar {
  margin-left: -45px;
}
button.calendar,
.symbol-minus,
.symbol-plus {
  color: #a9a9a9;
  border: none;
  background-color: #f2f2f2;
  
  width: 38px;
  height:  40px;
  outline: none;
}
button:hover {
  color: #000000;
}
button:active {
  color: #81b2d3;
}

button.find {
  font-family: "PT Sans";
  font-weight: 700;
  font-style: normal;
  font-size: 21px; 
  line-height: 26px; 
  
  margin-top: 48px;
  margin-bottom: 55px;
  
  width: 456px;
  height: 58px;
  
  color: #ffffff;
  text-transform: uppercase;
  border-style: none;
  
  background-color: #81b3d2;
  
  outline: none;
}
button.find:hover {
  background-color: #669ec1;
}
button.find:active {
  color: #6da5c6;
  background-color: #5596be;
}
.map {
  position: relative;
  bottom: 395px;
}

/*footer*/
footer {
  position: relative;
 
  
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #ffffff;
  opacity: 0.9;

}

.footer-item-1 {
  font-family: "PT Sans";
  font-weight: 700;
  font-style: bold;
  font-size: 21px; 
  line-height: 26px;
}
 
.footer-item-2 {
 font-size: 14px;
 line-height: 26px;
}

.social-icons-item {
  padding-top: 17px;
  padding-bottom: 16px;
  padding-left: 15px;
  padding-right: 14px;
  width: 46px;
  height: 48px;
  
  margin-right: 6px;
    
  list-style-type: none; 
  display: inline;
  background-color: #81b3d2;
}

.html-logo {
  display: inline-block;
}
.social-icons-item:hover {
  background-color: #669ec0;
}
.social-icons-item:active {
  background-color: #5496bd;  
}

.twitter-item:active {
  fill: #88b6d1;
}
.facebook-item:active {
  fill: #88b6d1;
}
.youtube-item:active {
  fill: #88b6d1;
}

  
.htmlacademy-logo:hover {
  fill: #81b3d2;
}
.htmlacademy-logo:active {
  fill: #c9c8c8;
}


